<div class="container mt-4">
    <h2>Instituições de Ensino</h2>
    <div class="row">
        {% for inst in instituicoes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ inst.nome }}</h5>
                    <p class="card-text">Site: {{ inst.site }}</p>
                    <p class="text-muted">{{ inst.cidade }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>